[submodule "libs/asi-http-request"]
	path = libs/asi-http-request
	url = https://github.com/pokeb/asi-http-request.git
[submodule "libs/fmdb"]
	path = libs/fmdb
	url = git://github.com/ccgus/fmdb.git
[submodule "libs/ZipArchive"]
	path = libs/ZipArchive
	url = git://github.com/mattconnolly/ZipArchive.git
[submodule "libs/ZipKit"]
	path = libs/ZipKit
	url = git://github.com/bosmacs/zipkit.git
[submodule "libs/SDWebImage"]
	path = libs/SDWebImage
	url = https://github.com/rs/SDWebImage.git
